@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Quicksand", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffffff;
}
.primary-text{
    color:#ff99ab;
}
header{
    height:15vh;
}

#logo{
    width: 6%;
    margin-left: 150px;
    margin-top: 25px;
}
#navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 25px;
    color: black;
    font-weight: 600;
    transition: color 0.3s ease;
}
body.dark-mode #navbar ul li a {
    color: white;
}
#navbar ul li i{
    color:black;
    transition: color 0.3s ease;
}
body.dark-mode #navbar ul li i {
    color: white;
}
#navbar ul li :hover{
    border-bottom: 2px solid #ff99ab;
}
#navbar ul li a :hover{
    border-bottom: 2px solid #ff99ab;
}
.dropdown{
    position: relative;
    opacity: 0.9;
    z-index: 10 ;
}
.dropdown:hover .options {
    display: block;
  }
.options{
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
    transition: background-color 0.3s ease;
}
body.dark-mode  .options {
    background-color: #333333;
}
.options a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    transition:  color 0.3s ease;
} 
body.dark-mode  .options a{
    color: white;
}
#theme-toggle{
    border: none;
}

/* Main Content Styles */
.container {
    position: relative;
    width: 60%;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.pink-box {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 350px;
    height: 450px;
    background-color: #983d4f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pink-box h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}
.pink-box p {
    display: flex;
    justify-content: center;
    align-items: center ;
}
.pink-box i {
    margin-right: 10px;
    color: white;
}
.pink-box .logo {
    align-self: center;
    margin-top: auto;
    max-width: 80%;
    height: auto;
}
.form-section {
    padding: 40px;
    width: 60%;
    text-align: right;
    padding-right: 80px;
    position: relative;
    z-index: 2;
}
.form-section h2 {
    text-align: center;
    margin: 0;
    color: #2c2b2b;
}
.form-section p {
    margin: 20px 0;
    color: #888;
    text-align: center;
    padding-left: 50px;
    
}
.form-group {
    margin-bottom: 15px;
}
.form-group input,
.form-group textarea {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group textarea {
    resize: none;
    height: 100px;
}
.form-section button {
    background-color: #983d4f;
    color: #fff;
    padding: 12px 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all ease-in-out 0.2s;
}
.form-section button:hover {
    background-color: black;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}